html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    line-height: 150%;
}

.header-bg {
    height: 45vh;
    background-image: url(../img/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

.header {
    max-width: 500px;
    padding-top: 10vh;
    text-align: center;
    color: #FFFFFF;
}

.header img {
    margin-bottom: 15px;
}

.header h1 {
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    font-size: 35px;
}

.info {
    padding-top: 50px;
    font-style: italic;
    font-size: 20px;
    font-weight: 300;
}

.info img {
    position: relative;
    margin: 0;
    top: -10px;
    left: -5px;
}

.items {
    min-height: 55vh;
    padding: 4vh 0;
}

.item {
    text-align: center;
    padding: 7vh 5vw;
}

.name {
    font-size: 20px;
    font-weight: bold;
    color: #255CA1;
    text-decoration: underline;
    padding: 35px 0 10px 0;
}

.description {
    font-size: 16px;
    padding: 1vh;
    padding-bottom: 0;
    min-height: 92px;
}

.price {
    font-size: 32px;
    font-weight: bold;
    color: #255CA1;
    padding: 1vh;
}

.cart-button {
    min-width: 180px;
    min-height: 40px;
    background-color: #255CA1;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    border: none;
    border-radius: 2px;
    padding: 5px;
    position: relative;
    bottom: 0px;
}

.cart-button img {
    position: relative;
    margin: 0 8px;
    top: -2px;
}

.summary {
    min-height: 30vh;
    background-color: #F6F6F6;
}

.summary p {
    padding: 10vh 0;
    width: 60vw;
    margin: auto;
}

.footer {
    background-color: #255CA1;
    color: #FFFFFF;
    padding: 2vh 0;
}

.contacts {
    width: 70vw;
    margin: auto;
    text-align: center;
    font-weight: 300;
}

.contacts p, h5 {
    margin-bottom: 0;
}

.contacts a {
    color: #FFFFFF;
    text-decoration: underline;
}

@media only screen and (min-width: 1499px) {
    .contacts {
        width: 60vw;
    }
}

@media only screen and (max-width: 1399px) {
    .contacts {
        width: 80vw;
    }
}

@media only screen and (max-width: 1199px) {
    .item {
        padding: 7vh 2vw;
    }
    .summary p {
        width: 70vw;
    }
    .contacts {
        width: 100vw;
    }
}

@media only screen and (max-width: 991px) {
    .item {
        padding: 7vh 0;
    }
    .summary p {
        padding: 10vh 0;
        width: 80vw;
    }
    .contacts-item {
        padding: 1vh 0;
    }
}

@media only screen and (max-width: 767px) {
    .item {
        padding: 3vh 0;
    }
    .description {
        min-height: 0;
    }
    .summary p {
        padding: 5vh 0;
        width: 90vw;
    }
    .contacts-item {
        padding-bottom: 1vh;
    }
    .contacts-item:last-child {
        padding-bottom: 0;
    }
}

@media only screen and (max-width: 576px) {
    .header-bg {
        height: 60vh;
    }
    .description {
        padding: 0 15vw;
    }
}

@media only screen and (max-width: 400px) {
    .header-bg {
        height: 65vh;
    }
}

@media only screen and (max-width: 300px) {
    .header-bg {
        height: 75vh;
    }
}

@media only screen and (orientation: landscape) and (max-height: 600px) {
    .header-bg {
        height: 100vh;
    }
}